<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 

	<body style="font-family: Arial; font-size: 14px;">

		<table style='width:730px; padding:10px; border: 1px solid #777; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt; border-bottom:2px solid #777; background-color:#F5F5F5'>

		<tr>
			<td><b><font color='#333333'>SAC | Encaminhamento do Pedido de Informação</font></b></td>
		</tr>
		<tr>
			<td colspan='2'></td>
		</tr>
	</table>
   <table style="width:730px;  border-bottom:2px solid #777;border: 1px solid #777; background-color:#F5F5F5; padding:10px;">
       <tr>
           <td><font style='font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;text-align:justify;'><span th:text="${conteudo}"></font></td>
       </tr>
   </table>
   <table style="width:730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt; border:1px solid #777; padding:10px;"> 
       <tr>
           <td>
               <font style="font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;text-align:justify;">
               	  <span  th:utext="${despacho}"></span>
               </font>
           </td>
       </tr>
   </table>
   <br>
   <table style="width:730px;  border-bottom:2px solid #777;border: 1px solid #777; background-color:#F5F5F5; padding:10px;">
		<tr>
			<td>Atenciosamente,</td>
		</tr>   
       <tr>
           <td><font style='font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;text-align:justify;'><span th:text="${orgao}"></font></td>
       </tr>
   </table>   
   <table style="width: 730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:8pt;">
		<tr>
			<td>Mensagem automática</td>
		</tr>
		<tr>
			<td>Favor não responder este e-mail.</td>
		</tr>
		<tr>
			<td>
				<div align="justify">
					Esta mensagem, incluindo quaisquer anexos, é de acesso restrito e destina-se, exclusivamente, 
					à pessoa ou entidade para a qual foi endereçada. Se você a recebeu indevidamente, por favor, 
					elimine-a e informe o equívoco ao emitente imediatamente. O uso não autorizado do conteúdo da mensagem ou anexos 
					é proibido e sujeita o infrator às penalidades cabíveis.
	            </div>			
			</td>
		</tr>
	</table>
</body>
</html>