<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 

	<body style="font-family: Arial; font-size: 14px;">

		<table style='width:730px; padding:10px; border: 1px solid #777; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt; border-bottom:2px solid #777; background-color:#F5F5F5'>

		<tr>
			<td><b><font color='#333333'>SAC | Encaminhamento do Pedido de Informação</font></b></td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
   <table style="width:730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt; border:1px solid #777; padding:10px;"> 
       <tr>
           <td>
               <font style="font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;text-align:justify;">
               	  <span  th:utext="${despacho}"></span>
               </font>
               <a th:href="${url}">
                   <h3>
                       <font style="font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;">
                           Clique Aqui para responder esse Atendimento.
                       </font>
                   </h3>
               </a>
           </td>
       </tr>
   </table>
   <br>
   <table style="width:730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;">
       <tr>
           <td>
               <b>
                   <font color="#333333">Detalhes do Atendimento</font>
               </b>
           </td>
           <td align="right">N° do Protocolo: 
               <b><span  th:text="${atendimento.numeroProtocolo}"></span></b>
           </td>
       </tr>
       <tr>
           <td colspan='2'>
               <hr>
           </td>
       </tr>
   </table>
   <br> 
   <table  style="width:730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:8pt;border:1px solid #B0AA95">
       <tr bgcolor="#E6E6E6">
           <td><b><font color='#444444'>1. Dados do Solicitante</font></b></td>
       </tr>
   </table>
   <table style="width:730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:8pt;border:1px solid #B0AA95">
       <tr>
           <td>Nome: <span  th:text="${atendimento.nomeSolicitante}"></span></td>
       </tr>
   </table>
   <br>
   <table style="width:730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:8pt; border:1px solid #B0AA95">
       <tr bgcolor="#E6E6E6">
           <td><b><font color="#444444">2. Dados do Atendimento</font></b></td>
       </tr>
   </table>
   <table style="width:730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:8pt; border:1px solid #B0AA95">
       <tr>
           <td><b>Descrição do Pedido:</b></td>
       </tr>
       <tr>
           <td><span  th:text="${atendimento.descricao}"></span></td>
       </tr>
   </table>
   <table style="width:730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:8pt; border:1px solid #B0AA95">
       <tr>
           <td>Área: <span  th:text="${area}"></span></td>
           <td>Assunto: <span  th:text="${assunto}"></span></td>
       </tr>
       <tr>
           <td>Data Entrada: 
              <span th:text="${#temporals.format(atendimento.dataEntrada, 'dd/MM/yyyy')}"></span>
           </td>
           <td>Data Prazo Resposta: 
              <span th:text="${#temporals.format(dataPrazoResposta, 'dd/MM/yyyy')}"></span>
           </td>
       </tr>
   </table>
	<table style="width: 730px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:8pt;">
		<tr>
			<td>Mensagem automática</td>
		</tr>
		<tr>
			<td>Favor não responder este e-mail.</td>
		</tr>
		<tr>
			<td>
				<div align="justify">
					Esta mensagem, incluindo quaisquer anexos, é de acesso restrito e destina-se, exclusivamente, 
					à pessoa ou entidade para a qual foi endereçada. Se você a recebeu indevidamente, por favor, 
					elimine-a e informe o equívoco ao emitente imediatamente. O uso não autorizado do conteúdo da mensagem ou anexos 
					é proibido e sujeita o infrator às penalidades cabíveis.
	            </div>			
			</td>
		</tr>
	</table>
</body>
</html>