<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 

	<body style="font-family: Arial; font-size: 14px;">

		<table style='width:730px; padding:10px; border: 1px solid #777; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt; border-bottom:2px solid #777; background-color:#F5F5F5'>

		<tr>
			<td><b><font color='#333333'>SAC | Resposta do Pedido de Informação</font></b></td>
		</tr>
		<tr>
			<td colspan='2'></td>
		</tr>
	</table>
	<table style='width:730px;padding:10px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt; border-left: 1px solid #777; border-right: 1px solid #777;'>
		  <tr>
           <td>
               <font style="font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;text-align:justify;">
               	  <span  th:utext="${atendimento.resposta}"></span>
               </font>
           </td>
       </tr>
	</table>
	<table style='width:730px; padding:10px;border-left: 1px solid #777; border-right: 1px solid #777; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;'>
		<tr>
			<td>Para entrar no sistema e verificar os pedidos de infomações,
			 <a th:href="@{'https://portalouvidoria.com.br:8504/gcon/login'}">clique aqui</a>
		</tr>
	</table>
		<table style='width:730px;padding:3px; border-top:1px solid #777;'>
		<tr>
			<td align='right'>&nbsp;</td>
		</tr>
	</table>	
</body>
</html>