<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 

	<body style="font-family: Arial; font-size: 14px;">
		<table style='width:730px; padding:10px; border: 1px solid #777; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt; border-bottom:2px solid #777; background-color:#F5F5F5'>
		<tr>
			<td><b><font color='#333333'>Ouvidoria <span th:text="${sigla}"></font></b></td>
		</tr>
		<tr>
			<td colspan='2'></td>
		</tr>
	</table>
	<table style='width:730px;padding:10px; border-left: 1px solid #777; border-right: 1px solid #777;font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;'>
		<tr>
			<td>Prezado(a) Ouvidor(a),</td>
		</tr>
	</table>
	<table style='width:730px;padding:10px; border-left: 1px solid #777; border-right: 1px solid #777; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;'>
		<tr>
			<td>Chegou uma manifestação de natureza DENÚNCIA no sistema para atendimento.</td>
		</tr>
	</table>
	<table style='width:730px;padding:10px; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt; border-left: 1px solid #777; border-right: 1px solid #777;'>
		<tr>
			<td>N° de Protocolo: <b><span th:text="${atendimento.anoAtendimento}+''+${atendimento.sequencialOrgao}"></span></b></td>               
		</tr>
	</table>
	<table style='width:730px; padding:10px;border-left: 1px solid #777; border-right: 1px solid #777; font-family:tahoma, verdana, arial, helvetica, sans-serif; font-size:10pt;'>
		<tr>
			<td><span th:utext="${texto}"></span></td>
		</tr>	
	</table>
	<table style='width:730px;padding:3px; border-top:1px solid #777;'>
	</table>
</body>
</html>